* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1545569341-9eb8b30979d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    /* max-width: 1000px; */
    width: 100%;
    /* min-height: 1000px; */
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem 2rem;
    border-radius: 2rem;
}

main form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;

}

input,
button {
    appearance: none;
    outline: none;
    border: none;
    background: none;
}

.search form {
    padding-top: 2rem;
}

.search form {
    display: flex;
    flex-wrap: wrap;

}


#search-input {
    background: rgba(173, 181, 189, 0.5);
    padding: 0.7rem;
    flex: 1 1 0%;
    border-radius: 2rem;
    color: #DEE2E6;
    font-size: 1.25rem;
    font-size: 300;
}


main form button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(52, 58, 64, 0.1);
    padding: 0.6rem;
    margin: 0 15px;
    border-radius: 1.5rem;
    color: #CED4DA;
    cursor: pointer;
}

.weather-info {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    color: #CED4DA;

}

.weather-title {
    font-size: 2.56rem;
    font-weight: 400;
}

.city-name {
    font-weight: 500;
}

.temp {
    font-size: 2.5rem;
    padding-top: 1rem;
}

.visual-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
}

.weather-icon {
    margin-left: -20px;
    width: 100px;

}

.description {
    font-size: 1.25rem;
}

.humidity {
    padding-top: 1rem;
}

.hum-text {
    font-size: 1.25rem;
}

.hum-percent {
    font-weight: 500;
}

.wind {
    padding-top: 1rem;
}

.wind-text {
    font-size: 1.25rem;
}

.wind-speed {
    font-weight: 500;
}

/* .weather-info.loading {
    visibility: hidden;
} */

.forecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2rem;
    justify-items: center;
    /* flex-wrap: wrap; */
    gap: 20px;

}

.daily-forecast {
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(52, 58, 64, 0.2);
    padding: 1rem;
    border: 2px solid #CED4DA;
    border-radius: 0.5rem;
    box-sizing: border-box;

}

.daily-forecast h3,
h4 {
    font-weight: 400;
    text-align: center;
}

.days {
    padding: 0.2rem 0.2rem;
    background: rgba(52, 58, 64, 0.5);
    border-radius: 1rem;
    text-align: center;
}

@media(max-width:770px) {
    .forecast {
        grid-template-columns: repeat(2, 1fr);
    }
}